<footer class="bg-[#065BAA] w-100 py-7 flex items-center flex-col text-white">
  <img src="../../assets/psn-logo.png" alt="Logo da PSN">
  <p class="font-bold text-[13px] mt-8">
    Support | Privacy Policy | Website | Terms of Use | Sitemap | Legal | About SIE | PSN Terms of Service | PS Store Cancellation Policy | Health Warning | About Ratings
  </p>
  <p class="font-semibold text-sm mt-1">
    Facebook | Twitter | YouTube | Instagram | Android App | iOS App
  </p>
  <p class="font-extrabold text-sm mt-8">
    © 2020 Sony Interactive Entertainment LLC
  </p>
</footer>