<ng-container
  *ngTemplateOutlet="carousel; context: { index: caroucel$ | async }"
>
</ng-container>

<ng-template #carousel let-index="index">
  <section
    class="w-full h-[calc(100vh-100px)] flex justify-center items-center z-0 relative"
    id="home"
  >
    <!-- <img src="/assets/spiderman/bg-3.jpg" alt="bg" class="w-full h-full blur -z-10"> -->
    <ng-container [ngSwitch]="index % 3">
      <img
        *ngSwitchCase="0"
        @myInsertRemoveTrigger
        src="/assets/spiderman/bg-1.jpg"
        alt="bg"
        class="absolute w-full h-full blur-sm -z-10"
      />
      <img
        *ngSwitchCase="1"
        @myInsertRemoveTrigger
        src="/assets/spiderman/bg-2.jpg"
        alt="bg"
        class="absolute w-full h-full blur-sm -z-10"
      />
      <img
        *ngSwitchCase="2"
        @myInsertRemoveTrigger
        src="/assets/spiderman/bg-3.jpg"
        alt="bg"
        class="absolute w-full h-full blur-sm -z-10"
      />
    </ng-container>
    <ng-container [ngSwitch]="index % 3">
      <img
        *ngSwitchCase="0"
        @myInsertRemoveTrigger
        class="w-auto h-full absolute"
        [ngClass]="{
          'animate-slideoutleft': index%2 === 0,
          'animate-slideoutright': index%2 === 1,
        }"
        src="/assets/spiderman/1.png"
        alt="layer_1"
      />
      <img
        *ngSwitchCase="1"
        @myInsertRemoveTrigger
        class="w-auto h-full absolute"
        src="/assets/spiderman/2.png"
        alt="layer_1"
        [ngClass]="{
          'animate-slideoutleft': index%2 === 0,
          'animate-slideoutright': index%2 === 1,
        }"
      />
      <img
        *ngSwitchCase="2"
        @myInsertRemoveTrigger
        class="w-auto h-full absolute"
        [ngClass]="{
          'animate-slideoutleft': index%2 === 0,
          'animate-slideoutright': index%2 === 1,
        }"
        src="/assets/spiderman/3.png"
        alt="layer_1"
      />
    </ng-container>
    <div
      class="w-full h-1/3 px-[136px] absolute bottom-0 bg-gradient-to-b from-transparent to-50% to-[#1F1F1F]"
    >
    <h1 class="text-3xl text-white font-bold">
      Trending
    </h1>
    <div class="flex w-full justify-between mt-9 overflow-x-auto overflow-y-hidden gap-3 pb-5">
      <app-card [game]="g" *ngFor="let g of TrendingList()"/>
    </div>
  </div>
    <div
      class="w-[311px] h-[153px] absolute left-[135px] bg-[url('/assets/spiderman/logo.png')] bg-cover"
    ></div>
  </section>
  <section class="w-full bg-[#1F1F1F] min-h-[100px] sticky px-[135px]">
    <h1 class="text-3xl text-white font-bold">
      New Releases
    </h1>
    <div class="w-full flex flex-wrap gap-12 py-5 justify-center">
      <app-mini-card [game]="g" *ngFor="let g of gameList()"/>
    </div>
  </section>
</ng-template>
